{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.publishedAt) }}
        {{ form_widget(form.publishedAt, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.publishedAt) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.file) }}
        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.file) }}
    </div>
{{ form_end(form) }}
